$navbar-default-bg: black;

.results-block {
display: inline-block;
}

no-padding {
padding: 0 !important;
}

.left-padding {
padding-left: 15px !important;
}

.user-name {
padding-top: 15px;
}

.logout {
padding-left: 0;
}

.navbar{
	background-color: grey;
	font-color: red;
}

.navbar-brand {
	background-color: red;
	font-weight: bold;
	color: black;
}


.navbar-nav{
	
	background-color: blue;
}

.back {
 color: black;
	}

.jumbotron {
    background-image: asset-url('123.jpg');
    
	background-size: cover
	;
	height: 600px;
	width: 1244px;

}

.jumbotron h1 {
	font-size: 7em;
	font-weight: bold;
	color: red;
	text-align: center;
	letter-spacing: -1px;

	}

